In [1]:
import sqlite3

In [2]:
## Connect to the SQLite database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
## Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)
''')

## Commit the changes
connection.commit()

In [ ]:
## Insert multiple rows into the table
data = [
    (2, "Trần Thị B", 28, "Nhân sự"),
    (3, "Lê Văn C", 35, "Kỹ thuật"),
    (4, "Phạm Thị D", 26, "Marketing")
]

cursor.executemany('''
INSERT INTO employees (id, name, age, department)
VALUES (?, ?, ?, ?)
''', data)
connection.commit()

In [6]:
cursor.execute('''
SELECT * FROM employees
''')

rows = cursor.fetchall() # đọc dữ liệu từ bảng fetchall trả về tất cả các hàng
for row in rows:
    print(row)

(2, 'Trần Thị B', 28, 'Nhân sự')
(3, 'Lê Văn C', 35, 'Kỹ thuật')
(4, 'Phạm Thị D', 26, 'Marketing')