Hầu hết các thuật toán máy học chỉ hiểu dữ liệu số (numerical). Nhưng trong thực tế, dữ liệu thường có dạng categorial (danh mục).Do đó, Data Encoding giúp chuyển đổi dữ liệu phân loại thành dữ liệu số để thuật toán học máy có thể xử lý.

Trước tiên, bạn cần hiểu loại dữ liệu categorical để chọn cách mã hóa phù hợp:
+ Nominal : Color = Red, Blue - không có thứ tự (no order) giữa các giá trị
+ Ordinal: Size = Small, Medium - có thứ tự(ordered), nhưng khoảng cách giữa các giá trị không rõ ràng

#### Nominal Encoding
Nominal Encoding là gán số nguyên cho từng giá trị phân loại 
Ví dụ:
Red -> 0
Green -> 1
Blue -> 2
+ Ưu điểm:
    - Dễ thực hiện, nhanh
    - Giảm số chiều dữ liệu
+ Nhược điểm:
    - Không phù hợp với dữ liệu nominal thực sự, vì mô hình có thể hiểu sai mối quan hệ thứ tự giữa các giá trị:
    Ví dụ: Mô hình có thể nghĩ rằng Blue(2) > Green(1) > Red(0), điều này không đúng
+ Nên dùng khi mô hình có thể xử lý tốt dữ liệu phân loại dạng số mà không nhằm lẫn thứ tự, ví dụ: cây quyết định (Decision Trees)

#### One-Hot Encoding (OHE)
Chuyển mooix giá trị phân loại thành vector nhị phân (0 hoặc 1)
Ví dụ :
Red là 1 0 0 
Green là 0 1 0 
Blue là 0 0 1
+ Ưu điểm:
    - Không tạo ra mối quan hệ thứ tự sai giữa các giá trị
    - Phù hợp với dữ liệu nominal
+ Nhược điểm:
    - Tăng số chiều dữ liệu, nhất là kho có nhiều giá trị khác nhau -> gây ra vấn đề curse of dimensionality -> với n giá trị phân loại khác nhau, OHE sẽ tạo ra n cột mới -> làm mô hình chậm hơn, khó học tốt (overfitting)

In [21]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,OrdinalEncoder

In [22]:
## Create a sample DataFrame
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'green', 'red','blue']})

In [23]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [24]:
## crete an instance of OneHotEncoder
encoder = OneHotEncoder()

In [25]:
## perform fit and transform
encoded = encoder.fit_transform(df[['color']]).toarray()

In [26]:
encoder_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())

In [27]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [28]:
lbl_encoder = LabelEncoder()

In [12]:
lbl_encoder.fit_transform(df['color'])

array([2, 0, 1, 1, 2, 0])

#### Ordinal Encoding

In [14]:
df = pd.DataFrame({
    'size': ['small', 'medium', 'large', 'medium', 'small','large']})

In [15]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [16]:
encoder = OrdinalEncoder(categories=[['small', 'medium', 'large']])

In [18]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

SyntaxError: invalid syntax (3124618707.py, line 1)